<!DOCTYPE html>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" Name="IdNote" [value]=service.formData.IdNote>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-book" [class.green-icon]="Name.valid" [class.red-icon]="Name.invalid && Name.touched"></i>
                </div>
            </div>
            <input type="text" id="Name" name="Name" #Name="ngModel" [(ngModel)]="service.formData.Name" class="form-control" placeholder="Topic name" i18n-placeholder="Topic name placeholder.@@phName" minlength="1" required>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-calendar-alt" [class.green-icon]="Date.valid" [class.red-icon]="Date.invalid && Date.touched"></i>
                </div>
            </div>
            <input type="text" id="Date" name="Date" #Date="ngModel" [(ngModel)]="service.formData.Date" class="form-control" required pattern="\d{2}/\d{2}/\d{2}" placeholder="mm/dd/yy" i18n-placeholder="mm/dd/yy placeholder.@@phDate">
        </div>
    </div>
    <div class="form-group">

        <div class="input-group">
            <textarea type="text" id="Details" name="Details" #Details="ngModel" [(ngModel)]="service.formData.Details" class="form-control" placeholder="Event Details" i18n-placeholder="Note Details placeholder.@@phDetails" required minlength="1" maxlength="256">

            </textarea>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid" i18n="Submit button"> 
            <i class="fas fa-save"></i> Submit
        </button>
    </div>
</form>