<!DOCTYPE html>
<table class="table table-hover">
    <tr *ngFor="let nd of service.list">
        <td (click)="populateForm(nd)">{{nd.Name}}</td>
        <td (click)="populateForm(nd)">{{nd.Date}}</td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(nd.IdNote)"></i>
        </td>
    </tr>
</table>